In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('./data/clean.csv')
df=df.drop('Unnamed: 0', axis=1)

In [3]:
df.columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price', 'cut_Fair',
       'cut_Good', 'cut_Ideal', 'cut_Premium', 'cut_Very Good', 'color_D',
       'color_E', 'color_F', 'color_G', 'color_H', 'color_I', 'color_J',
       'clarity_I1', 'clarity_IF', 'clarity_SI1', 'clarity_SI2', 'clarity_VS1',
       'clarity_VS2', 'clarity_VVS1', 'clarity_VVS2'],
      dtype='object')

In [4]:
X = df[['carat', 'depth', 'table', 'x', 'y', 'z', 'cut_Fair',
       'cut_Good', 'cut_Ideal', 'cut_Premium', 'cut_Very Good', 'color_D',
       'color_E', 'color_F', 'color_G', 'color_H', 'color_I', 'color_J',
       'clarity_I1', 'clarity_IF', 'clarity_SI1', 'clarity_SI2', 'clarity_VS1',
       'clarity_VS2', 'clarity_VVS1', 'clarity_VVS2']]

y = df['price']

In [5]:
forest = RandomForestRegressor()

In [6]:
fit = forest.fit(X,y)

/home/guzman/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [7]:
pred = fit.predict(X)

In [8]:
r2_score(y, pred)

0.9963931097711675

In [9]:
sqrt(mean_squared_error(y, pred))

240.24726419969375

In [10]:
test = pd.read_csv('./data/test.csv')

In [11]:
id1 =test['id']
test=test.drop('id', axis=1)
test= pd.get_dummies(test)
print(test.columns)
print(X.columns)
test

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'cut_Fair', 'cut_Good',
       'cut_Ideal', 'cut_Premium', 'cut_Very Good', 'color_D', 'color_E',
       'color_F', 'color_G', 'color_H', 'color_I', 'color_J', 'clarity_I1',
       'clarity_IF', 'clarity_SI1', 'clarity_SI2', 'clarity_VS1',
       'clarity_VS2', 'clarity_VVS1', 'clarity_VVS2'],
      dtype='object')
Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'cut_Fair', 'cut_Good',
       'cut_Ideal', 'cut_Premium', 'cut_Very Good', 'color_D', 'color_E',
       'color_F', 'color_G', 'color_H', 'color_I', 'color_J', 'clarity_I1',
       'clarity_IF', 'clarity_SI1', 'clarity_SI2', 'clarity_VS1',
       'clarity_VS2', 'clarity_VVS1', 'clarity_VVS2'],
      dtype='object')

,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.56,62.1,54.0,5.30,5.33,3.30,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
1,1.05,61.9,56.0,6.56,6.52,4.05,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,0.50,61.5,56.0,5.11,5.07,3.13,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0.80,62.8,56.0,5.91,5.96,3.73,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,0.54,61.4,57.0,5.23,5.20,3.20,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,0.70,59.0,60.0,5.86,5.81,3.44,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
13481,0.55,62.3,53.0,5.27,5.29,3.29,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
13482,1.54,61.5,55.0,7.40,7.45,4.57,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
13483,0.30,62.7,55.0,4.29,4.26,2.68,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
13484,0.42,61.3,56.0,4.85,4.81,2.96,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
test_pred = fit.predict(test)

In [17]:
submission_1=pd.DataFrame({'id':id1, 'price': test_pred})

submission_1.set_index('id', inplace=True)

submission_1

         price
id
0       1398.4
1       6303.7
2       1722.6
3       3858.3
4       1745.5
...        ...
13480   2234.1
13481   2040.9
13482  10878.7
13483    508.3
13484   1237.6

[13485 rows x 1 columns]

In [18]:
submission_1.to_csv('./data/d1-submission1')